# Virtual environment
r_env/

# Python cache files
__pycache__/
*.py[cod]

# SQLite database
*.db

# Environment variables
.env

# IDE specific files
.vscode/
.idea/

# Logs
*.log

# Temporary files
*.tmp

# Operating system files
.DS_Store
Thumbs.db
*.db

myenv

#Ignore Excel Files
**/Excel_code/
/home/shashank/Bitsilica/Requirement_Manager/Excel_code

# Frontend ignores
# dependencies
frontend/node_modules
frontend/.pnp
frontend/.pnp.js

# testing
frontend/coverage

# production
frontend/build

# misc
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

