# Virtual environment
v_env/

# Python cache files
__pycache__/
*.py[cod]

# SQLite database
*.db

# Environment variables
.env
r_env

# IDE specific files
.vscode/
.idea/

# Logs
*.log

# Temporary files
*.tmp

# Operating system files
.DS_Store
Thumbs.db
*.db

